<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BookStore02</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.atguigu.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/user/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistServlet</display-name>
    <servlet-name>RegistServlet</servlet-name>
    <servlet-class>com.atguigu.servlet.RegistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistServlet</servlet-name>
    <url-pattern>/user/RegistServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.atguigu.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BaseServlet</display-name>
    <servlet-name>BaseServlet</servlet-name>
    <servlet-class>com.atguigu.servlet.BaseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BaseServlet</servlet-name>
    <url-pattern>/BaseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookManagerServlet</display-name>
    <servlet-name>BookManagerServlet</servlet-name>
    <servlet-class>com.atguigu.servlet.BookManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookManagerServlet</servlet-name>
    <url-pattern>/manager/BookManagerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookClientServlet</display-name>
    <servlet-name>BookClientServlet</servlet-name>
    <servlet-class>com.atguigu.servlet.BookClientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookClientServlet</servlet-name>
    <url-pattern>/client/BookClientServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>KaptchaServlet</servlet-name>
    <servlet-class>com.google.code.kaptcha.servlet.KaptchaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KaptchaServlet</servlet-name>
    <url-pattern>/code.jpg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartServlet</display-name>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>com.atguigu.servlet.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/client/CartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderClientServlet</display-name>
    <servlet-name>OrderClientServlet</servlet-name>
    <servlet-class>com.atguigu.servlet.OrderClientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderClientServlet</servlet-name>
    <url-pattern>/client/OrderClientServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderManagerServlet</display-name>
    <servlet-name>OrderManagerServlet</servlet-name>
    <servlet-class>com.atguigu.servlet.OrderManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderManagerServlet</servlet-name>
    <url-pattern>/manager/OrderManagerServlet</url-pattern>
  </servlet-mapping>
  <filter>
  	<filter-name>TransactionFilter</filter-name>
  	<filter-class>com.atguigu.filter.TransactionFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>TransactionFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
  	<filter-name>LoginFilter</filter-name>
  	<filter-class>com.atguigu.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>LoginFilter</filter-name>
  	<!-- 精确匹配
  	 -->
  	<url-pattern>/client/OrderClientServlet</url-pattern>
  </filter-mapping>

</web-app>